{{#if loggedIn}}
<div class="d-flex justify-content-center align-items-center">
<div class="card mx-auto mt-6 text-center" style="width: 70%;margin-top:10%">
  <h5 class="card-title bg-secondary text-light">{{blog.title}}</h5>
  <div class="card-body">    
    <p class="card-text">{{blog.description}}</br> ----{{blog.user.f_name}}</p>
    {{#each blog.comments}}
    <p class="card-text">{{comment}}</p>
   {{/each}}
    <a href="/api/users/comment/{{blog.id}}" style="text-decoration:none;"><button class="btn btn-primary" >Add a Commment</button></a> 
    
  </div>
</div>
</div>
{{/if}}

