{{#if loggedIn}}
<div class="d-flex justify-content-center align-items-center"></div>

<div class="card mx-auto mt-6 " style="width: 70%;margin-top:10%">
  <h5 class="card-title bg-secondary text-light text-center">{{blog.title}}</h5>
  <div class="card-body">
    
    <p class="card-text">{{blog.description}}</br><h4>Author</h4> </p><p>{{blog.user.f_name}}</p>
    
    
    <a href="/api/users/modify/{{blog.id}}" class="btn btn-primary">Modify</a>
    <div class="mt-2">
    <form data-blog-id="{{blog.id}}" id="deleteForm"> 
    <a class="btn btn-primary" id="deleteBtn">Delete</a>
    </form>
    </div>
  </div>
</div>
</div>
{{/if}}
<script src="/js/delete.js"></script>